

<div class="pr">
    <div class="">
        <div id="leftNavigation" class="leftNavigation">
            <div class="ulContainer">
                <ul class="leftNavigationUl">
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Tenants" asp-area="Admin" class="leftNavigationA">
                            Tenants
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Flights" asp-area="Admin" class="leftNavigationA">
                            Flights
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="FlightBuys" asp-area="Admin" class="leftNavigationA">
                            Flight Buys
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="KryteriaZnizek" asp-area="Admin" class="leftNavigationA">
                            Kryteria zniżek
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



 